credentials.py
/env-twitter/*
/.idea/*
/__pycache__/*
/data/*
client_secrets.json
/processing/client_secrets.json
/processing/chunk.json
/processing/output
/processing/input
/processing/data
/application/output